---
permalink: /privacy/
---
<div class="span12 page-center">
      
    <div class="row-fluid-wrapper">
      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">

          <p><span>Effective Starting Date: September 11, 2021 (</span><span><a href="/privacy" rel="noopener" target="_blank">view archived versions</a></span><span>)</span></p>
<p>This Privacy Policy was developed by Codiak slf.</p>
<p>This Policy describes how personal information is collected, for what purposes it is collected, how we share it, how we handle the content you place in our products and services, and the steps we take to secure this information.</p>
<p>Contents</p>
<ol>
<li>Why do we collect personal information</li>
<li>How do we collect personal information</li>
<li>How we use your personal information</li>
<li>With whom do we share your personal information</li>
<li>Data retention</li>
<li>Data security</li>
<li>International data transfer</li>
<li>No automated decision-making</li>
<li>California Privacy Rights</li>
<li>Your rights concerning your personal information</li>
<li>Complaints</li>
<li>Changes to the Privacy Policy</li>
<li>Contacting us</li>
</ol>
<h2>1. Why do we collect personal information</h2>
<p>Personal Information is information about you that can be used alone, or combined with other information, to identify you personally. Personal Information is a broad concept and includes a wide range of information such as name, email address, mailing address, IP addresses and cookie identifiers. Personal Information does not include information that has been anonymized such that it does not allow for the identification of a specific individual. We collect Personal Information to operate effectively, and to provide you the best experiences with our Codiak Services.</p>
<h2>2. How do we collect personal information</h2>
<p>We, and our service providers, collect personal information in a variety of ways. If you choose not to provide us with personal information when requested, we may not be able to provide you with the information and/or services you have requested or otherwise fulfill the purpose(s) for which we have asked for the personal information. Aside from this, your visit to our websites will remain unaffected. When we collect your personal information, we will let you know why we are collecting it and how we will use the information.</p>
<h3>A. Personal Information you provide to us</h3>
<h4>i. Account and Profile Information</h4>
<p>We collect Personal Information when you register for an account, modify your account profile, download and install our mobile applications, or apply for a job. Personal Information we collect may include your contact information (name, email address, telephone number, mailing address), the information on your resume/CV and/or cover letter/letter of application (employment history, education, references, etc), and other information provided during an interview or in a communication with us. You may provide this information directly when you enter it in Codiak Services, or in some cases another user may provide it on your behalf. If you are providing information (including Personal Information) about someone else, you confirm that you have the authority to act for that person, and to agree to this Privacy Notice. We do not request sensitive personal information.</p>
<h4>ii. User Content</h4>
<p>If you create, input, submit, post, upload, transmit, and/or store information (“User Content”) while using the Codiak Services, your Personal information such as name, email address or other contact information will be associated with that User Content. For example, information regarding a problem you are experiencing with a Codiak Service could be submitted to our Support Services or posted in our public forums. Any information, including Personal Information that you submit to our Websites could be visible to the public unless submitted to a secure area in the Website. As another example, if you apply for a job, you will upload your resume to a secure location on our website.</p>
<p>Payment Information: We may collect and process payment information from you when you subscribe or purchase Codiak Services. Payment information may include credit card numbers and billing information, using third party PCI-compliant service providers.</p>
<h3>B. Personal Information we collect from your use of Codiak Services</h3>
<h4>i. Log files</h4>
<p>When you interact with the Codiak Services, we generate log files to help us operate and improve our Codiak Services. Web log files includes internet protocol (IP) addresses as well as browser type, internet service provider, URLs of referring/exit pages, operating system, date/time stamp, information you search for, locale and language preferences, identification numbers associated with your Devices, your mobile carrier, and system configuration information. For our Cloud Services, the information we collect includes the URLs you accessed, usernames as well as elements of content (as may be used in the hosting service) (such as project names, project keys, status names, and JQL filters, page titles and space names) as necessary for the Cloud Services to perform the requested operations. Occasionally, we connect Personal Data to information gathered in our log files as necessary to improve Codiak Services for individual customers.</p>
<h4>ii. Analytics Information from our Website</h4>
<p>We collect analytics information using cookies to help us operate and improve our website. The analytics information includes elements of content related to the function the user is performing. As such, the analytics information may include Personal Information. To learn more about our analytics collection, please see our<span>&nbsp;</span><span><a href="https://www.secureshare.is/cookie-notice-2018?hsLang=en">Cookie Notice</a></span>.</p>
<h4>iii. Usage Data</h4>
<p>“Usage Data” is aggregated data about a group or category of services, features or users that should not contain Personal Information. If Usage Data contains Personal Information, it is a byproduct of our efforts to understand broader patterns and trends. It is not a concerted effort by us to examine the content of any particular user.</p>
<h4>iv. Analytics Information from Cloud Services</h4>
<p>We collect analytics information when you use our Cloud Services to help us improve our Codiak Services. The analytics information consists of the feature and function of the Codiak Service being used, the associated license identifier (SEN) and domain name, and the user ID of the individual who is using the feature or function, the sizes and original filenames of attachments, and additional information required to detail the operation of the function and which parts of the Codiak Services are being affected.</p>
<h4>v. Analytics Information from Downloadable Products</h4>
<p>We collect analytics information when you use our Downloadable Products to help us improve our Codiak Services. Our Downloadable Products contain a feature that sends information about the Downloadable Products on your systems. Some of the information collected is related to your usage of our features and functions, such as, the number of teams, number of accounts, number of workload schemes, and number of holiday schemes. Some of the information collected is related to the operating environment or hosting service, such as the version installed, the name and version of the Downloadable Product, and the customer SEN.</p>
<p>You can disable our collection of analytics information from Downloadable Products via the Administrator settings or by blocking collection at the local network level.</p>
<h4>vi. Installer Analytics, Software Updates &amp; License Information from Downloadable Products</h4>
<p>During the installation of our Downloadable Products, the installer sends analytics information to Codiak to allow us to understand where in the installation process users are experiencing trouble or dropping out. Our Downloadable Products also communicate with Codiak servers for licensing purposes, as well as to check for updates and patches. Examples of information we collect for these purposes include the hosting service version installed, the name and version of the Downloadable Product and the server ID, SEN, and IP address of the customer instance.</p>
<h4>vii. Cookies and Other Tracking Technologies</h4>
<p>We use various technologies to collect information. For more information about our use of cookies, see our<span>&nbsp;</span><span><a href="https://www.secureshare.is/cookie-notice-2018?hsLang=en">Cookie Notice</a></span>. We also collect information using web beacons (also known as “tracking pixels”). Web beacons are electronic images that may be used in our Websites, Cloud Services or emails that help us to deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon.</p>
<h3>C. Personal Information we collect from other sources</h3>
<h4>i. Personal Information from third-parties</h4>
<p>In order to provide you with certain services, we may obtain Personal Information from our third-party service providers to verify and confirm the information you have submitted. For example, if you log into our Codiak Services through a third-party service, that service may share your Personal Information with us. Or for example, if you apply for an employment opportunity, we may obtain your Personal information from a recruiter, from a reference or from a background check provider.</p>
<h2>3. How we use your personal information</h2>
<p>When we use your personal information, it will be (a) with your consent, or (b) for one of two basic purposes: (1) to operate our business and provide (including improving and personalizing) the products we offer, and (2) to send communications, including promotional communications.</p>
<p>Operating our Business. We use your information to provide and improve the products we offer and perform essential business operations. This includes operating the products, maintaining and improving the performance of the products, developing new features, conducting research, evaluating your suitability for employment opportunities, and providing customer support. Examples of such uses include the following:</p>
<ul>
<li>Providing the Products. We use your information to carry out your transactions with us and to provide our products to you.</li>
<li>Customer support. We use your information to diagnose product problems, and provide other customer care and support services.</li>
<li>Product Improvement. We use your information to continually improve our products, including adding new features or capabilities.</li>
<li>If you provide payment information, we use such information solely to collect payment from you. We use a third-party service provider to manage credit card processing.</li>
<li>Security, Safety and Dispute Resolution. We use your information to protect the security and safety of our products and our customers, to detect and prevent fraud, to confirm the validity of software licenses, to resolve disputes and enforce our agreements.</li>
<li>Employment Opportunities. We use your information to evaluate your suitability for employment or recruitment opportunities.</li>
<li>Business Operations. We use your information to develop aggregate analysis and business intelligence that enables us to operate, protect, make informed decisions, and report on the performance of our business.</li>
<li>Legal Obligations. We use your information as required by law.</li>
<li>We use your information to communicate with you and personalize our communications with you.</li>
</ul>
<p>If your consent is the basis for our use of your personal information, then you have the right to withdraw your consent at any time. If you wish to withdraw consent, please email us in accordance with the “Contacting Us” section.</p>
<h2>4. With whom do we share your personal information</h2>
<h4>A. Our third-party service providers</h4>
<p>Some of the services we provide require the involvement of our third-party service providers, such as web hosting providers, application development, maintenance, virtual infrastructure (including storage and backup), payment processor providers, communications providers, customer relationship management providers, background check providers; recruitment firms; and software providers. We have carefully selected these third-parties and have taken steps to ensure that your Personal Information is adequately protected.</p>
<p>We do not share your Personal Information with third-parties for their marketing purposes (including direct marketing).</p>
<h4>B. Third-party applications</h4>
<p>You may choose to make use of third-party Add-Ons in conjunction with Codiak Services. Third-party Add-Ons are software written by third-parties to which you grant access privileges to your content (which may include your Personal Information). Codiak’s Privacy Notice does not cover the collection or use of your data by third-party Add-Ons. You should examine the privacy policies governing each third-party Add-Ons.</p>
<h4>C. Compliance with Laws and Legal Requests</h4>
<p>We may disclose your Personal Information to a third-party if we believe that disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request.</p>
<h4>D. Protection of Codiak Services</h4>
<p>We may disclose your Personal Information to a third-party, if we believe it is reasonably necessary to (a) to enforce our agreements, policies and terms of service; (b) to protect the security or integrity of Codiak’s products and services; (c) to protect Codiak, our customers or the public from harm or illegal activities; or (d) to respond to an emergency which we believe in the good faith requires us to disclose information to assist in preventing the death or serious bodily injury of any person.</p>
<h4>E. Business Transfers</h4>
<p>In the case of a sale, merger, consolidation, liquidation, reorganization, or acquisition, any acquirer will obtain your personal information subject to our obligations under this Privacy Notice.</p>
<h4>F. With Your Consent</h4>
<p>We will share your Personal Data with third-parties when we have your consent to do so.</p>
<h2>5. Data retention</h2>
<p>We retain your personal information for the length of time required for the specific purpose or purposes for which it was collected, plus an additional three (3) months, which allows you to resume use of our services without loss of data. For example, for employment related opportunities, we store your Personal Information for twelve months from the date it was submitted to us.</p>
<p>We may be obliged to store some data for a longer time, for example, where a longer time period is required by applicable law. In this case, we will ensure that your personal information will continue to be treated in accordance with this Privacy Policy.</p>
<h2>6. Data security</h2>
<p>We use reasonable organizational, technical and administrative measures to protect your Personal Information. Your Personal Information is limited to those who have a proper business need to access it, and those individuals will do so only in an authorised manner and will be subject to a duty of confidentiality.</p>
<p>Codiak is hosted in Amazon Web Services (AWS) data centers. AWS has numerous security certifications and Codiak implements many further security controls to safeguard data. For more information about the security of our Cloud Services, please see our<span>&nbsp;</span><span><a href="https://www.secureshare.is/cloud-security-statement">Cloud Security Statement</a></span>.</p>
<p><strong>Encryption:</strong><span>&nbsp;</span>Where data is transferred over the Internet as part of a Website or Cloud Services, the data transmitted using industry standard HTTPS using TLS.</p>
<p>Where Downloadable Products are used, responsibility for securing access to the data you store in the Downloadable Products rests with you and not Codiak. We strongly recommend that administrators of Downloadable Products enable encryption in transit (e.g., HTTPS using TLS) to prevent interception of data transmitted over networks and to restrict access to the databases and other storage used to hold data.</p>
<p>Unfortunately, no data transmission or storage system is guaranteed to be secure. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any account you might have with us has been compromised), please immediately notify us of the problem by emailing us in accordance with the “Contacting Us” section. Please note that third parties are not responsible for the privacy, security, or integrity of any information collected by us.</p>
<h2>7. International data transfers</h2>
<p>Our products and services may be provided using resources and servers located in various countries around the world, including the U.S. and other countries. For example, our website is hosted on servers in the U.S.</p>
<p>Your information may be transferred and processed by third-parties outside the country where you use our services, including to countries outside the European Economic Area (EEA), where the level of data protection may not be deemed adequate by the European Commission (i.e., where you have fewer rights in relation to your information).</p>
<p>Data Controller. If you are a visitor located in the EEA, [Codiak Iceland] is the data controller of your personal information provided to us through interactions with the Codiak Services. To find out our contact details, please see the “Contacting Us” section below.<span>&nbsp;</span></p>
<p>We expect that our third-party service providers will comply with the terms of the European Union’s General Data Protection Regulation (GDPR), and that any international data transfers be made under a recognized basis such as the US-EU Privacy Shield, EU Standard Contractual Clauses, and/or Binding Corporate Rules.</p>
<p>If you wish to know more about international transfers for your personal data, you may contact us as specified below.</p>
<h2>8. No automated decision-making</h2>
<p>At this time, we do not use any automated decision making processes. However, we reserve the right to make automated decisions, including using machine learning algorithms or other artificial intelligence, about our customers and website visitors in order to optimize the products and services offered and/or delivered.</p>
<h2>9. California Privacy Rights</h2>
<p>Under Section 1798.83 of the California Civil Code ("Shine the Light" law), residents of California have the right to request from a business, with whom the California resident has an established business relationship, certain information with respect to the types of personal information (as defined by California law) the business shares with third parties for those third parties' direct marketing purposes, and the identities of the third parties with whom the business has shared such information during the immediately preceding calendar year. To exercise your rights, you may make one request each year by emailing us at<span>&nbsp;</span><a href="mailto:legal@secureshare.is" rel=" noopener">legal@secureshare.is</a><span>&nbsp;</span>with "Request for California Privacy Information" in the subject line and in the body of your message. Be sure to provide in the request sufficient information to properly identify you and/or the members of your family.</p>
<h2>10. Your rights concerning your personal information</h2>
<p>You have the following rights:</p>
<ol>
<li>To review, change, or delete your personal information</li>
<li><span>&nbsp;</span>To object to direct marketing</li>
<li>To ask about how we are processing your personal information</li>
<li>To restrict our processing of your personal information</li>
<li>To have a copy of your personal information</li>
<li>To transfer your personal information from us to another person or business</li>
</ol>
<p>Should you wish to exercise any of your rights, or if you should have any questions concerning your rights, please contact us using the information in Contacting Us section. We will respond within one month.</p>
<h2>11. Complaints</h2>
<p>If you have any complaints about this Privacy Policy or are unsatisfied with any response we provided, you may complain to the supervisory authority in Iceland:</p>
<p><span>The Icelandic Data Protection Authority</span></p>
<p><span>Rauðarárstígur 10<br></span><span>105 Reykjavík Iceland</span></p>
<p><span>Tel. +354-510-9600<br></span>e-mail: postur@personuvernd.is</p>
<p><span><a href="https://www.personuvernd.is/information-in-english/" rel="noopener" target="_blank">www.personuvernd.is</a></span></p>
<p>Additionally, contact details for data protection authorities in the EEA, Switzerland and certain non-European countries are available<span>&nbsp;</span><span><a href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">here</a></span>.</p>
<h2>12. Changes to the Privacy Policy</h2>
<p>When we update this Privacy Policy, we will revise the update date at the top of this page. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy. Your use of the services following these changes means that you accept the revised Privacy Policy.</p>
<h2>13. Contacting us</h2>
<p>If you have questions or comments about our privacy practices, please contact us by e-mail at<span>&nbsp;</span><a href="mailto:legal@secureshare.is" rel=" noopener">legal@secureshare.is</a><span>&nbsp;</span>or by mail at the following address:</p>
<p>Codiak Software Inc.<br>31 St. James Ave.&nbsp;<br>Boston, MA 02116<br>USA</p>

          
          
        </div>
        <div class="span2"></div>
    
      </div>
    </div>
        
  </div>